<%- include('../partials/header') %>

<div>
    <% hikes.forEach(function(h) { %>
    <h2><%= h.name %></h2>
    <h2><%= h.location %></h2>
    <h2><%= h.caption %></h2>
    <h2><a href="/hikes/<%= h._id %>">Details</a></h2>
    <% }) %>
</div>

<%- include('../partials/footer') %>