<%- include('../partials/header') %>

<div class="indexHikesAll">
    <% hikes.forEach(function(h) { %>
    <a href="/hikes/<%= h._id %>"><div class="indexHike">
        <div class="hikeDesc">
            <div class="hikeTitle">
                <h2><%= h.name %></h2>
                <h2><%= h.location %></h2>
            </div>
            <!-- <button class ="detailBtn"><a class="detailLink" href="/hikes/<%= h._id %>">Details</a></button> -->
        </div>
        <img class="indexPic" src="<%= h.pictures %>" alt="Pictures of user's hike">
    </div></a>
    <% }) %>
</div>

<%- include('../partials/footer') %>