<%- include('../partials/header') %>

    <div id="show-page-background">
        <div class="show-page-container">
            <div class="show-desc">
                <div class="show-title">
                    <div>
                        <%= hike.name %>
                    </div>
                    <div>
                        <%= hike.location %>
                    </div>
                </div>
                <div class="show-caption">
                    <div>
                        <%= hike.caption %>
                    </div>
                    <div class="open-status">Open Status: <%= hike.isOpen ? 'Open' : 'Closed' %></div>
                </div>
                </div>
            <div>
                <img class="showImg" src="<%= hike.pictures %>" alt="Pictures of user's hike">
            </div>
            <div class="edit-delete">
                <% if(user && user._id.equals(hike.user)) { %>
                    <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Post</button>
                    </form>
                    <button><a href="/hikes/<%= hike._id %>/edit">Edit Post</a></button>
                    <% } %>
            </div>
            <br>
            <div class="comment-form">
                <h2>Comments</h2>
                <% if(user) { %>
                    <form id="add-comment" action="/hikes/<%= hike._id %>/comments" method="POST">
                        <div class="box-btn">
                            <textarea class="comment-box" name="content"></textarea>
                            <input class="postCommentBtn" type="submit" value="Post">
                        </div>
                    </form>
                    <% } %>
            </div>
                    <div class="comment-section">
                        <% if(hike.comments.length) { %>
                            <table>
                                <tbody>
                                    <% hike.comments.forEach(function(c) { %>
                                        <tr>
                                                <td class="username">
                                                    <%= c.userName %> -
                                                </td>
                                                <td class="content">
                                                    <%= c.content %>
                                                </td>
                                                <td>
                                                <% if(user && user._id.equals(c.user)) { %>
                                                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                                        <button type="submit">Remove Comment</button>
                                                    </form>
                                                    <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                                                        <input name="content" value="<%= c.content %>">
                                                        <button type="submit">Edit Comment</button>
                                                    </form>
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            </tr>
                                </tbody>
                            </table>
                            <% } %>
                    </div>
        </div>
    </div>

    <%- include('../partials/footer') %>